<%= form_for @user, :html => { :multipart => true } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render partial: 'devise/shared/user_fields', locals: {form: f } %>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.text_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :role %>
    <br />
    <% User::ROLES.each do |r| %>
      <%= label_tag r %>
      <%= check_box_tag "user[role_ids][]", r, @user.has_role?(r), id: "user_role_ids_#{r}" %>
      <br />
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit 'submit', id: 'submit' %>
  </div>
<% end %>
