<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @show.title %>
</p>

<p>
  <b>User:</b>
  <%= @show.user_id %>
</p>

<p>
  <b>Time:</b>
  <%= @show.time %>
</p>

<% if can? :edit, @show %>
  <%= link_to 'Edit', edit_show_path(@show) %>
<% end %>
