<h2>
  <%= @show.title %>
</h2>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="datafruits" data-hashtags="datafruits">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<p>
  Hosted by:<%= @show.user.username %>
</p>

<p>
  <b>Time:</b>
  <%= @show.time %>
</p>

<p>
  <%= html_pipeline(@show.description) %>
</p>

<% if can? :edit, @show %>
  <%= link_to 'Edit', edit_show_path(@show) %>
<% end %>
