<h2>
  <%= @show.title %>
</h2>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="datafruits" data-hashtags="datafruits">Tweet</a>
<div class="fb-like" data-href="http://www.datafruits.fm/<%= show_path @show  %>" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>
<p>
  Hosted by:<%= link_to @show.user.username, @show.user %>
</p>

<p>
  <b>Time:</b>
  <%= @show.time %>
</p>

<% if @show.image? %>
  <%= image_tag @show.image.url %>
<% elsif @show.user.avatar? %>
  <%= image_tag @show.user.avatar.url %>
<% end %>

<p>
  <%= html_pipeline(@show.description) %>
</p>

<% if can? :edit, @show %>
  <%= link_to 'Edit', edit_show_path(@show) %>
<% end %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
