<div id='user-panel'>
  <% if user_signed_in? %>
    Logged in as <%= link_to current_user.username, current_user %> |
    <% if can? :create, Show %>
      <%= link_to "New show", new_show_path %> |
    <% end %>
    <% if can? :create, Post %>
      <%= link_to "New post", new_post_path %> |
    <% end %>
    <% if can? :create, User %>
      <%= link_to "New user", "/admin/users/new" %> |
    <% end %>
    <%= link_to "Edit profile", "/users/edit" %> |
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
  <% end %>
</div>
