<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta keywords="skweee radio garage 2step club juke notdubstep podcast netradio netlabel pineapples datafruits">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <title>D A T A F R U I T S . F M</title>
  </head>
  <body data-controller="<%= controller.controller_path %>" data-action="<%= controller.action_name %>">
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
    <form action="http://datafruits.us7.list-manage1.com/subscribe/post?u=ad4bf41fe569a0d8e513b3dea&amp;id=4ae348e50b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <span class="rainbow">Subscribe to the DATAFRUITS.FM newsletter →</span>
      <label for="mce-EMAIL">Email Address </label>
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      <span class="tiny">(Free exclusive tracks, mixes & info)</span>
      <div id="mce-responses">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
    </form>
    </div>
    <!--End mc_embed_signup-->
    <div id="radio-player"></div>
    <div id="top">
      <div id="logo">
        <a href="/"></a>
      </div>
      <div id="jp_container" class="big-player">
        <a class="jp-play" href="javascript:;" tabindex="1"></a>
        <a class="jp-pause" href="javascript:;" tabindex="1"></a>
        <a class="jp-loading" href="javascript:;" tabindex="1" style="display:none;"></a>
        <br />
        <div class="jp-title" width="350">loading...</div>
      </div>
      <div id="next-show">
        <%= render :partial => 'layouts/next_show' %>
      </div>
      <% flash.each do |name, msg| %>
        <div id="<%= name %>">
          <%= msg %>
        </div>
      <% end %>
    </div>
    <nav>
      <ul class="nav nav-pills" id="main-nav">
        <li>
          <a href="/listen">Listen →</a>
        </li>
        <li>
          <a href="/podcasts">Podcasts →</a>
        </li>
        <li>
          <a href="/timetable">Timetable →</a>
        </li>
        <li>
          <a href="http://releases.datafruits.fm/" target="_blank">Label →</a>
        </li>
        <li>
          <a href="/chatroom">Chatroom →</a>
        </li>
        <li>
          <a href="/about">About/Contact →</a>
        </li>
      </ul>
      <%= render :partial => "layouts/user_panel" %>
    </nav>
      <div id="jp_container" class="mini-player">
        <a class="jp-play mini" href="javascript:;" tabindex="1"></a>
        <a class="jp-pause mini" href="javascript:;" tabindex="1"></a>
        <a class="jp-loading mini" href="javascript:;" tabindex="1" style="display:none;"></a>
      </div>
    <center>
      <iframe width="480" height="302" src="http://www.ustream.tv/embed/10904201?ub=e166b7&amp;lc=e166b7&amp;oc=ffffff&amp;uc=ffffff&amp;v=3&amp;wmode=direct" scrolling="no" frameborder="0" style="border: 0px none transparent;">    </iframe>
      <br /><a href="http://www.ustream.tv/" style="padding: 2px 0px 4px; width: 400px; background: #ffffff; display: block; color: #000000; font-weight: normal; font-size: 10px; text-decoration: underline; text-align: center;" target="_blank">Live streaming video by Ustream</a>
    </center>
    <div id="container" data-pjax-container>
      <div class="clearfix"></div>
      <%= yield %>
      <footer>
        <ul class="social-icons">
          <li><a href="http://twitter.com/datafruits" class="lsf-icon" title="twitter"></a></li>
          <li><a href="http://github.com/datafruits" class="lsf-icon" title="github"></a></li>
          <li><a href="http://soundcloud.com/datafruits" class="lsf-icon" title="soundcloud"></a></li>
          <li><a href="mailto:info@datafruits.fm" class="lsf-icon" title="mail"></a></li>
        </ul>
      </footer>
    </div>
  <!-- JavaScript at the bottom for fast page loading -->
  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
  <script>
    var _gaq=[['_setAccount','UA-28868734-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  </body>
</html>
