<html>
  <head>
    <title>DATADAYZ</title>
    <%= stylesheet_link_tag "data_dayz" %>
    <%= javascript_include_tag "data_dayz" %>

  </head>
  <body>
    <audio id="negi_trap" src="https://s3.amazonaws.com/datafruits.fm/negi_trap.mp3" autoplay loop>
      Your browser does not support the <code>audio</code> element.
    </audio>
    <div id="spreadsheet">
    </div>

    <img id="branding" src="/images/datadayz.png" alt='DATADAYZ'>

    <div id="mute" alt="mute">♪</div>

    <ul id="lineup">
      <% (@day_one+@day_two).map{|m| m.user }.uniq.each do |user| %>
        <li><%= link_to user.username.upcase, user %></li>
      <% end %>
    </ul>

    <span>listen here →</span>
    <a href="http://datafruits.fm"><%= image_tag asset_path("df_new_logo_1.png") %></a>

    <h1 style="float:right;">DATADAYZ</H1>

    <h3>DAY ONE 11/22</h3>
    <table id="day_one" class="timetable">
      <tbody>
      <% @day_one.each do |show| %>
        <tr class="<%=cycle("even","odd")%>">
          <td><%= "#{show.time.strftime("%H:%M %Z")}" %></td>
          <td><%= show.end_time.strftime("%H:%M %Z") %></td>
          <td><%= show.user.username %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <h3>DAY TWO 11/23</h3>
    <table id="day_two" class="timetable">
      <tbody>
      <% @day_two.each do |show| %>
        <tr class="<%=cycle("even","odd")%>">
          <td><%= "#{show.time.strftime("%H:%M")} - " %></td>
          <td><%= show.end_time.strftime("%H:%M %Z") %></td>
          <td><%= show.user.username %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <div id="scroll-container">
    </div>
  </body>
</html>
