<html>
  <head>
    <title>DATADAYZ</title>
    <%= stylesheet_link_tag "data_dayz" %>
    <%= javascript_include_tag "data_dayz" %>

  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <audio id="negi_trap" src="https://s3.amazonaws.com/datafruits.fm/negi_trap.mp3" autoplay loop>
      Your browser does not support the <code>audio</code> element.
    </audio>
    <div id="spreadsheet">
    </div>

    <img id="branding" src="/images/datadayz.png" alt='DATADAYZ'>

    <div id="social">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="datafruits" data-hashtags="datadayz">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <div class="fb-like" data-href="http://www.datafruits.fm/data_dayz" data-width="The pixel width of the plugin" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="false" data-send="false"></div>
    </div>

    <div id="mute" alt="mute">♪</div>

    <ul id="lineup">
      <% (@day_one+@day_two).map{|m| m.user }.uniq.each do |user| %>
        <li><%= link_to user.username.upcase, user %></li>
      <% end %>
    </ul>

    <span>listen here →</span>
    <a href="http://datafruits.fm"><%= image_tag asset_path("df_new_logo_1.png") %></a>

    <h1 style="float:right;">DATADAYZ</H1>

    <h3>DAY ONE 11/22</h3>
    <table id="day_one" class="timetable">
      <tbody>
      <% @day_one.each do |show| %>
        <tr class="<%=cycle("even","odd")%>">
          <td><%= "#{show.time.strftime("%H:%M %Z")}" %></td>
          <td><%= show.end_time.strftime("%H:%M %Z") %></td>
          <% if !show.guests.blank? %>
            <td><%= "#{show.user.username} - #{show.guests}" %></td>
          <% else %>
            <td><%= show.user.username %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>

    <h3>DAY TWO 11/23</h3>
    <table id="day_two" class="timetable">
      <tbody>
      <% @day_two.each do |show| %>
        <tr class="<%=cycle("even","odd")%>">
          <td><%= "#{show.time.strftime("%H:%M")} - " %></td>
          <td><%= show.end_time.strftime("%H:%M %Z") %></td>
          <% if !show.guests.blank? %>
            <td><%= "#{show.user.username} - #{show.guests}" %></td>
          <% else %>
            <td><%= show.user.username %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>

    <div id="scroll-container">
    </div>
  </body>
</html>
